node_modules
node_modules7
.idea
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml
/.project
test/temp/
/docs
*debug.log*
.vscode
.DS_Store
/.jhipster
yarn.lock
yarn-error.log
package-lock.json
*.sw?
/test/templates/import-jdl/*.png
.git
.classpath
.factorypath
.project
.settings
test/**/*.png
*.tgz
.nyc_output
coverage